@import 'styles/helpers';

//.sectionHeader {
//  font-size: 18px;
//  font-weight: bold;
//  color: #a1aab8;
//  margin-left: 25px;
//  z-index: 200;
//}

.sectionSeparator {
  height: 1px;
  margin-bottom: 50px;
}


////

.sectionHeader {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;

  font-size: 18px;
  font-weight: bold;
  color: #a1aab8;
  margin-left: 25px;
  z-index: 200;

  background: transparent;
  pointer-events: none;

  > div {
    width: 100%;
    background: transparent;
    pointer-events: none;
  }
}

.stickySectionHeader {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  z-index: 200;
}

.sectionHeaderData {
  display: inline-block;
  background: white;

  //FIXME: hack
  width: 100px;
}