@import 'styles/helpers';

.trainingPage {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: $desktop-header-height;
  width: 100%;
  min-height: 100%;
}

.content {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.title {
  font-size: 40px;
}

.optionsGroup {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  padding: 25px;
  padding-left: 40px;
  padding-right: 40px;
  border-radius: 10px;
  margin-bottom: 150px;

  @include card2();
}

.startButton {
  margin-top: 30px;
  height: 45px;
  padding-left: 30px;
  padding-right: 30px;
  min-width: 200px;

  background: $accent-color;
  border-radius: 10px;
  border: none;

  color: white;
  text-align: center;
  text-transform: uppercase;
  font-size: 18px;
  font-weight: bold;
  line-height: 45px;

  cursor: pointer;
  user-select: none;

  outline: none;
  box-shadow: none;

  transition: background-color 100ms ease-in-out;

  margin-left: 20px;

  &:hover {
    box-shadow: none;
    background: darken($accent-color, 10%);
    outline: none;
  }
}