@import 'styles/helpers';

.kanaTablePage {
  width: 100%;
  min-height: 100%;

  display: flex;
  flex-direction: column;
  padding-top: $desktop-header-height;
  background: white;

  z-index: 1000;
}

.content {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  padding-top: 50px;
  padding-bottom: 100px;
}

@media (max-width: 640px) {
  .content {
    padding-top: 0;
    padding-left: 20px;
    padding-right: 20px;
  }
}