@import 'styles/helpers';

@keyframes show-animation {
  0% {
    transform: scale(0.95);
    //@include card4();
    //border-radius: 10px;
    overflow: hidden;
    opacity: 0.6;
  }

  100% {
    transform: scale(1);
    box-shadow: none;
    //border-radius: 0;
    overflow: visible;
    opacity: 1;
  }
}

.backdrop {
  width: 100%;
  min-height: 100%;

  background: rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}


.kanaTablePage {
  width: 100%;
  min-height: 100%;

  display: flex;
  flex-direction: column;
  padding-top: $desktop-header-height;
  background: white;

  z-index: 1000;
}

.kanaTablePageAnimated {
  composes: kanaTablePage;

  animation-name: show-animation;
  animation-timing-function: ease-out;
  animation-fill-mode: forwards;
  animation-duration: 350ms;
  will-change: transform, border-radius, box-shadow;
}

.content {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  padding-top: 50px;
  padding-bottom: 100px;
}

@media (max-width: 640px) {
  .content {
    padding-top: 0;
    padding-left: 20px;
    padding-right: 20px;
  }
}