@import 'styles/helpers';

.kanaTablePage {
  width: 100%;
  height: 100%;

  display: flex;
  flex-direction: column;
}

.content {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.tableHeader {
  text-align: left;
  font-size: 30px;

  display: flex;
  flex-direction: row;

  >li {
    list-style: none;
    display: inline-block;
    margin-left: 10px;

    &:nth-child(1) {
      text-decoration: underline;
    }
  }
}