@import 'styles/helpers';

$desktop-dialog-width: 350px;
$desktop-dialog-height: 480px;

.defaultBackdrop {
  composes: backdrop from '../../../components/modal/style.module.scss';
  animation: none;
  background: none;
}

.backdrop {
  composes: backdrop from '../../../components/modal/style.module.scss';
  animation: none;
  background: none;
  will-change: background;
}

.dialog {
  @include card4();
  display: flex;
  flex-direction: column;
  position: relative;
  background: white;

  border: 15px;
  width: $desktop-dialog-width;
  height: $desktop-dialog-height;

  padding: 40px;
  padding-bottom: 30px;
  overflow: hidden;
  border-radius: 10px;
}

.dialogTransforming {
  composes: dialog;
  overflow: hidden;
  will-change: transform;
}

.closeButton {
  $size: 45px;
  padding: 5px;
  font-size: $size;

  border: none;
  background: none;
  cursor: pointer;
  user-select: none;
  position: absolute;
  right: 15px;
  top: 10px;


  outline: none;
  color: $secondary-text-color;
  -webkit-tap-highlight-color: rgba(0,0,0,0);


  &:hover {
    color: $accent-color;
  }

  &:focus {
    outline: none;
    border: none;
    box-shadow: none;
    //-webkit-tap-highlight-color: rgba(0,0,0,0);
  }
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;

  width: 100%;
  height: 100%;
}

.mainInfo {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 15px;
}

.mainSymbol {
  text-align: center;
  font-size: 220px;
  line-height: 1;
  margin-top: 20px;
}

.mainSymbolYoon {
  composes: mainSymbol;
  font-size: 150px;
  white-space: nowrap;
  letter-spacing: 0;
}

.romaji {
  font-size: 60px;
  text-align: center;
  line-height: 60px;
  white-space: nowrap;
}

.bottomInfo {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

.characterType {
  margin-bottom: 20px;
  font-size: 20px;
  margin-top: 20px;
  color: $secondary-text-color;
}

.oneToOne {
  display: flex;
  flex-direction: row;
  align-items: center;

  font-size: 25px;

  > i {
    display: inline-block;
    padding-left: 5px;
    padding-right: 5px;
  }
}

.playSoundButton {
  outline: none;
  background: none;
  border: none;
  padding: 0;
  margin: 0;

  font-size: 40px;
  cursor: pointer;
  user-select: none;
  color: $accent-color;
}

@media (max-width: ($desktop-dialog-width + 100px)), (max-height: ($desktop-dialog-height + 100px)) {
  .dialog {
    width: 100%;
    height: 100%;
    border-radius: 0;
    position: fixed;
    top: 0;
  }
}